body {
    text-align: center;
    background-color: lightpink;
}

h1 {
   
    font-size: 50px;
}

p {

    font-size: 18px;
}

footer {
    display: block;
}

footer a {
    margin: 0 10px;
    color: red;
}